<div class="jumbotron text-center">
  <img src="https://cdn-icons-png.flaticon.com/512/616/616430.png" width="30%" alt="Cat Shelter Header Image">
  <h1 class="fw-semibold">Bine ati venit la adapostul nostru!</h1>
  <p>Noi oferim un culcus calduros pisicilor maidaneze si abandonate.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="fw-light">Despre noi</h2>
      <p>Suntem o organizatie non-profit dedicata salvarii si ingrijirii pisicilor fara adapost. Misiunea noastra este sa gasim case iubitoare pentru fiecare pisica care ajunge in adapostul nostru.</p>
    </div>
    <div class="col-md-4">
      <h2 class="fw-light">Adopta o pisica</h2>
      <p>Cauti sa adaugi un nou prieten blanos familiei tale? Răsfoiește pisicile noastre disponibile și găsește-ți perechea perfectă astăzi!</p>
      <a [routerLink]="['categories/cat']" class="btn btn-primary">Vezi pisicile</a>
    </div>
    <div class="col-md-4">
      <h2 class="fw-light">Ajutati-ne</h2>
      <p>Ajutati-ne sa ne continuam misiunea facand o donatie sau oferindu-va voluntar timpul la adapostul nostru!</p>
      <a href="#" class="btn btn-success">Doneaza</a>
    </div>
  </div>
</div>

<footer class="container text-center mt-5">
  <p>&copy; 2024 CATalog. All rights reserved.</p>
</footer>
